body {
  background-color: white;
}

.about {
  display: flex;
  height: 30em;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: black;
}

.footer-menu-item {
  color: black;
}
